.about-page{
    
}
#head {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns the content to the top */
    min-height: 100vh;
    padding-top: 20px; /* Adds some padding from the top */
}

#head h2 {
    position: relative;
    margin: 0;
    font-weight: 900;
    overflow: hidden;
}

#head h2::before {
    content: ' ';
    position: absolute;
    left: -100%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #000 50%, transparent 100%);
    animation: animate 5.5s linear forwards;
}

@keyframes animate {
    0% {
        left: -110%;
    }
    100% {
        left: 110%;
    }
}

#head h2 span {
    color: #ff022c;
}


.slider {
    height: 800px;
    margin: auto;
    position: relative;
    width: 800px;
    overflow: hidden;
    padding: 5vw 8vw 0 8vw;
}

.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 20s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
        /* Adjusted for right to left movement */
    }
}

.slide {
    height: 450px;
    width: 800px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    position: relative;
    /* Added position relative for z-index to work */
}

img {
    width: 100%;
    height: 100%;
    transition: transform 0s;
    /* Corrected typo in transition property */

}

.slide:hover img {
    transform: translateZ(20px);
    /* Added hover effect to image */
}

