.slider {
    height: 600px;
    margin: auto;
    position: relative;
    width: 80%;
    overflow: hidden;
    padding: 5vw 8vw 0 8vw;
}

.slide-track {
    display: flex;
    width: calc(250px * 18);
    /* transition: transform 0.5s; */
    animation: scroll 20s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
        /* Adjusted for right to left movement */
    }
}

.slide {
    height: 500px;
    width:450px;
    display: flex;
    align-items: center;
    padding: 15px;
    padding-top: 0px;
    perspective: 100px;
    position: relative;
        
    /* Added position relative for z-index to work */
}

img {
    width: 100%;
    height: 100%;
    transition: transform 0s;
    /* Corrected typo in transition property */

}

.slide:hover img {
    transform: translateZ(10px);
    /* Added hover effect to image */
}
