@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.footer-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.footer {
  margin-top: 30px;
  position: relative;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to right, #000727, #040159, #000727);
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  line-height: 15px;
}

.footer-row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1px 0;
}

.footer-col {
  flex-basis: 25%;
  padding: 10px;
}

.footer-col:nth-child(2),
.footer-col:nth-child(3) {
  flex-basis: 15%;
}

.footer-col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.footer ul li {
  list-style: none;
  margin-bottom: 10px;
}

.footer ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-social-icons-container {
  position: absolute;
  right: 40px;
}

.footer-social-icons {
  text-align: center;
}

.footer-social-icons ul li {
  width: 30px;
  height: 20px;
  border-radius: 10%;
  text-align: center;
  list-style: none;
  margin-right: 1px;
  cursor: pointer;
}

.footer-social-icons a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 10%;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgb(241, 246, 241);
}

.footer-social-icons a:hover {
  background-color: #fff;
  color: #05d4f8;
  box-shadow: 0 0 20px rgba(51, 255, 0, 0.8);
}

.footer-social-icons a.glow {
  box-shadow: 0 0 40px rgba(84, 247, 8, 0.8);
  animation: glow 2s infinite;
}

.footer-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
  background-color: #3245d5;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 100%;
}

.footer-back-to-top i {
  font-size: 24px;
  color: #ede6e6;
}

.footer-back-to-top ion-icon {
  font-size: 36px;
  color: #f5eded;
}

.footer-back-to-top ion-icon:hover {
  color: #03bc12;
}

.footer-back-to-top i.fas {
  font-size: 24px;
  color: #fbf7f7;
  margin-left: 0px;
}

.footer-back-to-top i.fas:hover {
  color: #f8f4f4;
}

.footer-contact-info li {
  list-style: none;
  margin-bottom: 12px;
}

.footer-contact-info ion-icon {
  margin-right: 5px;
}

.footer-logo {
  margin-bottom: 20px;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 20%;
  margin: 10px;
  padding: 3px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  animation: pulse 2s infinite;
}

.footer-logo:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.footer-logo:active {
  transform: scale(0.9);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}

.footer hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #fff;
  margin: 20px auto;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}
